**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.github/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/common-services.yaml
**/common-services.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
.editorconfig
.env
.env.*
.php_cs.cache
.php-cs-fixer.dist.php
.php-cs.result.xml
phpstan.neon.dist
phpstan-baseline.neon
phpunit.xml.dist
coverage.xml
.idea/
.task/
Taskfile.yaml
Taskfile.yml
docs/
bin/*
!bin/console
public/files/
var/
tests/