###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.dev
/.env.prod
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/coverage.xml
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony public ###
/public/coverage
/public/files/backups
###< symfony public ###

###> Taskfile ###
/.task
###< Taskfile ###

###> Docker ###
/.docker-compose.override.*
###< Docker ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
/.php-cs.result.xml
###< friendsofphp/php-cs-fixer ###

###> IDE ###
/.idea
###< IDE ###
