parameters:
    paths:
        - bin/console
        - config
        - migrations
        - public/index.php
        - src
        - tests
    level: 6
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface::getFlashBag\(\).#'
        - '#Match expression does not handle remaining value: string#'
