parameters:
    paths:
        - bin/console
        - config
        - migrations
        - public/index.php
        - src
        - tests
    level: 5
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface::getFlashBag\(\).#'
