parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\SessionInterface\\:\\:getFlashBag\\(\\)\\.$#"
			count: 3
			path: src/EventSubscriber/EasyAdminSubscriber.php

		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:getSqlFile\\(\\)\\.$#"
			count: 1
			path: src/Factory/BackupFactory.php

		-
			message: "#^Call to an undefined method App\\\\Entity\\\\AdapterConfig\\:\\:setS3BucketName\\(\\)\\.$#"
			count: 2
			path: tests/Validator/AdapterValidatorTest.php

		-
			message: "#^Call to an undefined method App\\\\Entity\\\\AdapterConfig\\:\\:setS3BucketName\\(\\)\\.$#"
			count: 2
			path: tests/Fixtures/DataProvider.php

		-
			message: "#^Method App\\\\Tests\\\\Fixtures\\\\DataProvider\\:\\:getLocalS3Adapter\\(\\)\\ should return App\\\\Entity\\\\LocalAdapter but returns App\\\\Entity\\\\AdapterConfig.$#"
			count: 1
			path: tests/Fixtures/DataProvider.php
