{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    <p>{{ 'reset_password.content.intro'|trans({}, 'email', locale) }}</p>
    <p>
        {{ 'reset_password.content.expires_in'|trans({
            '%expires_in%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle', locale)
        }, 'email', locale) }}
    </p>
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ url('app_reset_password', { token: resetToken.token }) }}">
        {{ 'reset_password.content.button_text'|trans({}, 'email', locale) }}
    </button>
{% endblock %}