name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  phpunit:
    name: PHPUnit (PHP ${{ matrix.php-version }})
    runs-on: ubuntu-20.04

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    strategy:
      matrix:
        php-version:
          - '8.0'

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: pcov
          php-version: ${{ matrix.php-version }}

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v1

      - name: Load Doctrine fixtures
        run: |
          bin/console doctrine:database:create --if-not-exists --env=test
          bin/console doctrine:schema:drop --force --env=test
          bin/console doctrine:schema:create --env=test
          bin/console doctrine:schema:validate --env=test
          bin/console hautelook:fixtures:load --no-interaction --no-bundles --env=test

      - name: Run PHPUnit
        run: vendor/bin/phpunit --coverage-clover=coverage.xml
